<div class="content">
    <h1>Ecosystem</h1>

    <ul>
        <li>
            <a href="http://mxsimulator.com" class="collection-item" target="_blank">MX Simulator</a>
        </li>
        <li>
            <a href="http://mxsemf.com" class="collection-item" target="_blank">European MXsim Federation</a>
        </li>
        <li>
            <a href="http://mxshelp.com" class="collection-item" target="_blank">MXS Help</a>
        </li>
        <li>
            <a href="http://www.puremxs.com" class="collection-item" target="_blank">Pure MXS</a>
        </li>
        <li>
            <a href="http://www.racefactorygaming.com" class="collection-item" target="_blank">Race Factory Racing</a>
        </li>
        <li>
            <a href="http://www.tmfactory-racing.com" class="collection-item" target="_blank">TM Factory Racing</a>
        </li>
    </ul>
</div>
