<div class="content">
    <mg-spinner v-if="fetching"></mg-spinner>

    <div v-else-if="!track" class="notification is-danger">
        Could not load track.
    </div>
    <div v-else>
        <div class="columns">
            <div class="column is-5">
                <img v-if="track.image" :src="track.image.uri">
                <div v-else>No image</div>
            </div>
            <div class="column is-7">
                <h3>{{ track.name }}</h3>
                <p><a>{{ track.creator }}</a> - {{ formatReleasedDate(track.released_at) }}</p>
                <p v-if="track.category">{{ track.category.name }}</p>

                <p>{{ track.description }}</p>
            </div>
        </div>

        <h2>Download Links</h2>
        <div class="box">
            <table class="table">
                <thead>
                <tr>
                    <th>Link</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="linkInfo in track.download_links">
                    <td>
                        <a :href="linkInfo.link" class="collection-item" target="_blank">
                            {{ truncateLink(linkInfo.link) }}
                        </a>
                    </td>
                    <td>{{ linkInfo.description || '-' }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

