<div class="content">
    <h1>Tracks</h1>

    <router-link class="button is-success" :to="{ name: 'TrackCreate'}">
        <span class="icon">
            <i class="fa fa-plus-circle" aria-hidden="true"></i>
        </span>
        <span>Create</span>
    </router-link>

    <div class="section">
        <mg-spinner v-if="fetching"></mg-spinner>
        <div v-else-if="paginator && paginator.total">
            <router-link tag="div" v-for="track in paginator.data"
                         :to="{ name: 'TrackShow', params: {id: track.getKey()} }"
                         :key="track.getKey()"
                         class="clickable box">
                <article class="columns">
                    <div class="column is-3">
                        <figure class="image">
                            <img :src="track.image.uri">
                        </figure>
                    </div>
                    <div class="column is-9">
                        <div class="content">
                            <p>
                                <strong>{{ track.name }}</strong>
                                <br v-if="track.category">
                                <small v-if="track.category">{{ track.category.name }}</small>
                                <br>
                                <small>{{ track.creator }}</small>
                            </p>
                        </div>
                    </div>
                </article>
            </router-link>
        </div>
        <div v-else class="notification is-warning">
            No tracks found.
        </div>
    </div>
</div>
